<h1>
  String Interpolation
</h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>

<hr>
<h1>Property Binding</h1>

<input type="text" [value]="stringInterpolation">
<p [ngClass]="{redBorder: onTest()}">Is it styled?</p>
<p [ngStyle]="{color: 'blue'}">Is it styled?</p>

<h3>custom property binding</h3>
<app-property-binding [result]="10" ></app-property-binding>

<h1>event binding</h1>
<app-event-binding (clickable)="onClicked($event)"></app-event-binding>

<hr>
<h1>Two way biding</h1>
<app-twoway-binding></app-twoway-binding>
